/* обнуление отступов для всех элементов страницы */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* подключение шрифта №1 */
@font-face {
  font-family: "OpenSans-Regular";
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: normal;
  font-style: normal;
}

/* подключение шрифта №2 */
@font-face {
  font-family: "OpenSans-Bold";
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: bold;
  font-style: normal;
}

/* "шапка", включает в себя логотип, навигацию и заголовок сайта */
.header {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  position: relative;
}

.header-container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  padding-top: 28px;
  padding-bottom: 120px;
  padding-left: 15px;
  padding-right: 15px;
}

/* установка затемнения через псевдоэлемент "::after"*/
.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.6;
}

/* класс, включающий в себя логотип и навигацию сайта */
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;

  max-width: 1200px;
}

/* класс для логотипа "шапки" */
.logo {
  width: 180px;
}

/* класс списка меню навигации сайта */
.menu-list {
  display: flex;
  list-style-type: none;
}

/* класс элементов меню навигации сайта */
.menu-list-item {
  margin-left: 35px;
}

/* класс ссылок элементов меню навигации сайта */
.menu-link {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

/* для создания подчёркивания при наведении на элемент с классом "menu-link"*/
.menu-link:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
}

/* класс для заголовка первого уровня - заголовка "шапки" сайта */
.header-title {
  font-family: "OpenSans-Bold", sans-serif;
  width: 100%;
  margin-top: 100px;
  margin-right: auto;
  margin-left: auto;

  justify-content: center;
  line-height: 1.7;
  font-size: 2.8em;
  font-weight: normal;
  color: #ffffff;

  position: relative;
  z-index: 1;
}

/* класс для самого большого блока страницы, содержащего как основную, так и доп.информацию */
.content {
  display: flex;
  padding-top: 45px;
  padding-bottom: 64px;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}

.container-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* класс для блока "main", содержащего основную информацию */
.posts {
  width: 793px;
  margin-right: 120px;
}

/* класс для каждой из статей "article", содержащейся в блоке основной информации "main" */
.post {
  display: flex;
  padding-bottom: 56px;
  justify-content: center;
}

.post:last-child {
  padding-bottom: 0;
}

/* класс для самого большого блока каждого из "article";
в себя включает ненумерованный список из тегов,
кликабельный заголовок блока "article",
описание содержимого, на которое должна вести гиперссылка заголовка */
.post-content {
  width: 367px;
  margin-left: 30px;
}

/* заголовок второго уровня "Сейчас в тренде" */
.trend-wrapper {
  padding: 64px 0 0;
}

/* класс для трендов, лежат под header */
.trend-items {
  display: flex;
  width: 100%;
  /*justify-content: space-between; не работает */
}

.trend-title {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 1.1;
  color: #ffffff;
  margin-top: 15px;
}

.trend-post {
  padding-top: 0;
  padding-left: 18px;
  padding-right: 22px;
  padding-bottom: 16px;
  display: flex;

  flex: 1;
  position: relative;
}

/* установка затемнения через псевдоэлемент "::after"*/
.trend-post:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  opacity: 0.4;
}

.trend-content {
  border: 4px solid #d5c69f;
  width: 100%;
  margin: 0 auto;
  padding-top: 39px;
  padding-left: 32px;
  padding-bottom: 37px;
  line-height: 1.1;
  z-index: 1;
}

.bkg-kitchen-garden {
  background-image: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0.4%;
  align-items: flex-end;
  min-height: 320px;
}

.bkg-cheese-pictures {
  background-image: url("../images/trend2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0.4%;
  align-items: flex-end;
  min-height: 320px;
}

.bkg-first-walk {
  background-image: url("../images/trend3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 0.4%;
  align-items: flex-end;
  min-height: 320px;
}

.bkg-lemons-vitamins {
  background-image: url("../images/trend4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
  min-height: 320px;
}

/* класс для фотографии каждой статьи "article" */
.photo-article {
  width: 381px;
}

/* класс для тегов, характеризующих содержимое статьи "article"
блока основной информации "main" */
.post-tags {
  display: flex;
  list-style-type: none;
}

/* класс для эелементов ненумерованного списка - гиперссылок тегов */
.link-post-tag {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  color: #b59f5b;
  text-transform: uppercase;
  text-decoration: none;
}

/* margin элементам списка */
.item-post-tag {
  margin-left: 18px;
}

/* левый отступ задавать не нужно */
.post-tags > li:first-child {
  margin-left: 0;
}

/* для создания подчёркивания при наведении на элемент класса "link-post-tag" */
.link-post-tag:hover {
  color: #b59f5b;
  border-bottom: 2px solid #b59f5b;
}

/* класс для основной гиперссылки каждой статьи "article" */
.link-post-title {
  text-transform: uppercase;
  text-decoration: none;
}

/* класс для кликабельного заголовка статьи */
.post-title {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
  line-height: 1.1;
  color: #0f0d0e;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* класс для доп.информации, которая включает дату и время публикации и имя автора статьи */
.post-information {
  margin-bottom: 53px;
}

/* класс для даты и времени публикации статьи */
.post-date {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  color: #888888;
}

/* класс для имени автора статьи */
.post-author {
  margin-left: 13px;

  font-family: "OpenSans-Bold", sans-serif;
  font-size: 12px;
  color: #000000;
}

/* класс для блока описания содержимого,
на которое должна вести гиперссылка заголовка */
.post-text {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 15px;
  color: #0f0d0e;
  line-height: 1.4;
  width: 367px;
}

/* создание отступа между параграфами в блоке описание содержимого, 
на которое должна вести гиперссылка заголовка */
.post-text > p:first-child {
  padding: 0 0 20px;
}

/* задаём ширину блоку с доп.информацией "aside" */
.sidebar {
  width: 270px;
}

/* класс для заголовков боковой панели*/
.title-sidebar {
  position: relative;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  color: #0f0d0e;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}

/* изменение величины шрифта добавленных заголовков
под header и над footer */
.like-title-sidebar {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
  margin-bottom: 28px;
}

/* реализация элемента "подчёркивание" для блока "Новые посты" */
.title-news::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  background-color: #b59f5b;
  opacity: 0.4;
}

/* класс для блока боковой панели,
содержащего картинки, контент и доп.информацию
об элементах боковой панели*/
.post-sidebar {
  display: flex;
  margin-top: 15px;
}

/* второй класс для первого блока боковой панели,
изменяем для него "margin-top" */
.first-sidebar-post {
  margin-top: 28px;
}

/* класс для размещаемых в боковой панели картинок */
.sidebar-photo {
  width: 71px;
  margin-right: 28px;
}

/*класс для блока, включающего ифнормацию
о дате публикации поста боковой панели */
.post-sidebar-information {
  display: flex;
}

/*класс для ифнормации о дате публикации поста боковой панели */
.post-sidebar-date {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 12px;
  color: #000000;
  opacity: 0.54;

  margin-bottom: 10px;
}

/* класс для гиперссылок информационных блоков боковой панели */
.sidebar-link-title {
  text-decoration: none;
}

/* класс для кликабельных заголовков информационных блоков боковой панели */
.post-sidebar-title {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  line-height: 1.29;

  color: #000000;
  text-transform: uppercase;
}

/* создание эффекта при наведении на гиперссылки -
заголовки информационных блоков боковой панели */
.post-sidebar-title:hover {
  color: #b59f5b;
}

/* класс для формы поиска */
.search {
  margin-top: 59px;
}

/* сокрытие описания для элементов формы - поля и кнопки поиска*/
.search-field,
.button {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

/* класс для поля ввода поиска - элемента "input" */
.search-input {
  -webkit-appearance: none;
  -moz-appearance: none;

  width: calc(100% - 49px);
  height: 49px;

  padding-left: 19px;

  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;

  border: none;
  background-color: #f4f7f6;
}

/* задаём параметры внешней рамки для "input" в фокусном состоянии */
.search-input:focus {
  outline: 1px solid #b59f5b;
}

/* класс для самой кнопки поиска */
.search-button {
  position: absolute;
  width: 49px;
  height: 49px;

  color: #ffffff;
  background-color: #b59f5b;
  border: none;

  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
}

/* класс для задания внешнего отступа блоков section */
.section-sidebar {
  margin-top: 60px;
}

/* сокрытие описания для элементов формы - Поля для email-адреса и кнопки Подписаться*/
.form-field,
.button-mailing {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

/* создание отступа для формы рассылки на email-адреса */
.form {
  margin-top: 21px;
}

/* класс для поля ввода формы рассылки на email-адреса */
.form-input {
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 100%;
  height: 49px;

  padding-left: 19px;
  padding-right: 19px;

  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;

  border: none;
  background-color: #f4f7f6;
}

/* задаём параметры внешней рамки для "input" в фокусном состоянии */
.form-input:focus {
  outline: 1px solid #b59f5b;
}

/* класс для кнопки "Подписаться" формы рассылки на email-адреса */
.form-button {
  margin-top: 21px;
  width: 100%;
  border: none;
}

/* класс для текста внутри кнопки "Подписаться" формы рассылки на email-адреса */
.button-subscribe {
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;

  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #b59f5b;
}

/* класс для создания эффекта при наведении
на кнопку "Подписаться" формы рассылки на email-адреса */
.button-subscribe:hover {
  background-color: #323232;
}

/* класс для списка тегов сайта */
.tag-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

/* класс для элементов ненумерованного списка тегов - реализация рамочки */
.tag-item {
  border: 3px solid #eeeeee;
  margin: 0 4px 4px 0;
  padding: 2px 13px;
}

.tag-link-top {
  margin: 0 0 4px 0;
}

/* класс для создания эффекта при наведении на элемент с классом "tag-item" -
изменение цвета рамки */
.tag-item:hover {
  border: 3px solid #b59f5b;
}

/* класс для гиперссылок раздела "Теги" */
.tag-link {
  text-decoration: none;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 12px;
  color: #0f0d0e;
  text-transform: uppercase;
}

/* класс для элементов ненумерованного списка тегов - реализация рамочки */
.themes-item {
  list-style: none;
  padding-bottom: 12px;
  border-bottom: 2px solid #eeeeee;
}

/* добавление значения "padding-top" дочерним элементам класса "themes-item", 
начиная со второго */
.themes-item:nth-child(n + 2) {
  padding-top: 12px;
}

/* класс для гиперссылок списка "Темы" */
.themes-link {
  text-decoration: none;

  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  color: #000000;

  margin-bottom: 20px;
}

/* класс для создания эффекта при наведении на элемент с классом "themes-link" -
изменение цвета текста */
.themes-link:hover {
  color: #b59f5b;
}

/* класс для верхних индексов гиперссылок списка "Темы" */
.number-themes {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 12px;
  color: #b59f5b;
  position: relative;
  bottom: 5px;
}

/* блоки товаров магазина */

.wrapper-shop {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.shop-title {
  font-weight: 700;
  font-size: 20px;
  margin-top: 65px;
}

.shop-items-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 30px auto 0 auto;
}

.shop-item {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.shop-item-image {
  align-self: center;
}

.shop-item-content {
  width: calc(100% - 140px / 3);
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-grow: 1;
  padding: 55px 25px 30px;
  margin-top: -35px;
  border: 4px solid #d5c69f;
  font-family: "OpenSans-Regular", sans-serif;
}
.shop-item-descr {
  font-size: 15px;
  margin-bottom: 30px;
}

.shop-item-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
}

.shop-item-descr > p {
  font-size: 15px;
  line-height: 1.5;
  color: #0f0d0e;
  font-family: "OpenSans-Regular", sans-serif;
}

.shop-item-link {
  color: #c8c082;
  opacity: 0.75;
  transition: opacity 0.2s linear;
  transition: text-decoration 0.2s linear;
}

.shop-item-link:hover {
  text-decoration: underline;
  opacity: 1;
}

.shop-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-item-prices {
  display: flex;
  flex-direction: column;
}

.shop-ex-price {
  font-size: 14px;
  font-weight: 700;
  text-decoration: line-through;
}

.shop-actual-price {
  font-size: 20px;
  font-weight: 700;
}

.shop-item-button > a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 50px;
  background-color: #b59f5b;
  font-size: 14px;
  font-weight: 700;
  color: #f0ecde;
  text-transform: uppercase;
  opacity: 0.75;
  transition: opacity 0.2s linear;
  transition: background-color 0.2s linear;
}

.shop-item-button > a:hover {
  background-color: #323232;
}

/* подвал */
.footer {
  text-align: center;
  max-width: 1167px;
  background-color: #f4f7f6;
  margin: 64px auto 0;
}

/* ссылки на соцсети */
.socials {
  height: 83px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 73px;
  padding: 31px 476px;
}

/* задание отступа элементам "li" */
.socials-item {
  margin-right: 27px;
}

/* обнуление последнего отступа справа у элементов "li" */
address li:last-child {
  margin-right: 0;
}

/* исключение отступа справа у элементов <a> */
.socials-link {
  display: block;
  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
}

.socials-link-twitter {
  background-image: url(../svg/004-twitter.svg);
}

.socials-link-pinterest {
  background-image: url(../svg/001-pinterest.svg);
}

.socials-link-facebook {
  background-image: url(../svg/002-facebook-logo.svg);
}

.socials-link-instagram {
  background-image: url(../svg/005-instagram.svg);
}

.socials-link-tumblr {
  background-image: url(../svg/003-tumblr.svg);
}

.socials-link-text {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.copyright {
  text-align: center;
  margin-bottom: 40px;
}

.copyright-link {
  text-decoration: none;
  color: #999999;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 12px;
}

.menu__button {
  display: none;
  width: 1.4em;
  height: 1em;
  border: none;
  padding: 0;
  background-color: transparent;
  font-size: 25px;
  position: relative;
  text-indent: -9999px;
  cursor: pointer;
}

.menu__button-label {
  width: 100%;
  height: 20%;
  margin-top: -0.25em;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
}

.menu__button:before {
  top: 0;
}

.menu__button:before,
.menu__button:after {
  content: "";
  width: 100%;
  height: 20%;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .menu__button {
    display: block;
  }
  .menu {
    text-align: right;
  }

  .menu-list {
    display: none;
  }

  .post {
    flex-direction: column;
    align-items: center;
  }

  .trend-items {
    display: flex;
    max-width: 1199px;
    flex-wrap: wrap;
  }

  .trend-post {
    display: flex;
    flex: 1;
    min-width: 40%;
  }

  .shop-item:last-child {
    max-width: 50%;
    padding-top: 2%;
  }

  .header-container {
    max-width: 1199px;
  }

  .container-content {
    display: flex;
    max-width: 1199px;
  }

  .content {
    max-width: 100vw;
  }

  .posts {
    /* max-width: calc(100% - 367px); */
    margin-right: 0;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 640px) {
  .menu__button {
    display: block;
  }
  .menu {
    text-align: right;
  }

  .menu-list {
    display: none;
  }

  .header {
  }

  .header-container: {
  }

  .header-title {
    line-height: 1.1;
    font-size: 1.5em;
    font-weight: normal;
  }

  .trend-items {
    flex-direction: column;
  }

  .trend-post {
    margin-bottom: 1%;
  }

  .container-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .content {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .post {
    display: flex;
    padding-bottom: 56px;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }

  .posts {
    width: 100%;
  }

  .photo-article {
    width: 100%;
  }

  .post-content {
    width: 100%;
    margin: 0;
  }

  .post-text {
    width: 100%;
  }

  .footer {
    width: 100%;
    background-color: #fff;
    padding-left: 4%;
    padding-right: 4%;
  }

  .socials {
    justify-content: center;
    align-items: center;
    margin: 0 auto 73px;
    padding: 0;
    background-color: #f4f7f6;
  }
}
